<div class="introduction__box">

  <span class="introduction__opacity-view"></span>

  <div class="introduction__text-view">

    <h1 class="introduction__title">Title</h1>
    <h2 class="introduction__subtitle">Subtitle</h2>

    <button class="button_white">Read more</button>

  </div>

</div>

<div class="personal__box">
  <h2 class="personal__title">Sometimes reader, other writer and other anything random that holds my attention</h2>
  <p>I don't have a main hobby, sometimes I'm playing or writing about Magic, or writing about non-specific topics. I'm not
    a huge fan of sports, but I really enjoy inline skating, and I intend to resume martial arts one day.</p>
  <p>I've never been interested about politics, but my </p>
  <button class="button_black block_center">Read more</button>
</div>

<div class="professional__box">
  <h2 class="professional__title">Student of Software Engineering and developer</h2>

  <p>I started my academic life in Electrical Engineering, but I didn't feel fulfilled. In my first year of university I was introduced to programming and it was love at first code.</p>
  <p>Some years later I made a hard decision, abandoning eletrical engineering and starting another course almost from scratch. Now I'm finishing Software Engineering and I know that was the right decision.</p>
  <p>I believe in changes and softwares are changing the world. So if I can work to improve and facilitate life, I'll be doing a good job.</p>
  <button class="button_black block_center">Read more</button>

</div>
