html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.box {
  min-height: calc(100vh - 139px);
  margin: 0;
  padding: 0;
  width: 100%
}

a {
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
}

.button_white,
.button_black {
  font-size: 15px;
  font-weight: 400;
  padding: 15px 25px;
}

.button_white {
  color: #fff;
  border: 2px solid #fff;
}

.button_white:hover {
  color: #000;
  background-color: #fff;
}

.button_white:active {
  background: linear-gradient(#fff, #eee, #fff);
}

.button_black {
  color: #000;
  border: 2px solid #000;
}

.button_black:hover {
  color: #fff;
  background-color: #000;
}

.button_black:active {
  background: linear-gradient(#000, #222, #000);
}

.block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

input {
  height: 24px;
}

input,
textarea {
  border: 1px solid #ccc;
}

div,
input,
button,
textarea {
  border-radius: 2px;
}

.modal_background {
  position: fixed;
  z-index: 10;
  opacity: 0.7;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}